include *.md
include unittest.cfg
include *.json
include *.txt
include CHANGELOG
recursive-include geotool_api *.py
recursive-include tests *.json
recursive-include tests *.py
recursive-include scripts *
exclude .project
exclude .pydevproject
exclude .idea
exclude setup.cfg
